* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-layout {
    min-height: 100vh;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}